<body class="bg-secondary">
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#">SimpleTODO</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <img class="nav-account-icon" src="../img/adminPage/person-circle.svg" alt="person-avatar">
                                Admin
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>

    <main>
        <div class="container-fluid">
            <div class="row row__admin__main__content">

                <div class="admin__left__menu col-2 d-flex justify-content-start flex-column">

                    <div class="dropdown">
                        <div class="btn-group dropend">
                            <button type="button" class="admin__left__menu__dropdown__btn btn dropdown-toggle"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <div
                                    class="admin__left__menu__dropdown d-flex justify-content-start flex-row align-items-center">
                                    <img class="admin__left__menu__dropdown__img "
                                        src="../img/adminPage/menu_white_24dp.svg" alt="img-menu">
                                    <p class="admin__left__menu__dropdown__text">Menu</p>

                                </div>
                            </button>
                            <ul id="dropdown-menu" class="dropdown-menu">

                            </ul>
                        </div>

                    </div>

                </div>

                <div id="admin__wrapper" class="admin__main__wrapper col-10   ">

                    <div id="admin__users__wrapper" class="admin__users__wrapper">

                    </div>

                </div>

            </div>



        </div>

    </main>

    

</body>